extends common/_head
block title
    title Обо мне

block wrapper
    .wrapper
        include common/_fullscreenmenu

        include common/_header


                .box
                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="traingle">
                    <polygon points="0,0   0,86   500.8,86   500.8,75.5"></polygon>
                    <polygon points="1000,0   1000,86   500,86   500,75.5"></polygon>
                    </svg>
        .about-wrapper
            .about-container
                .about-title
                    h1.title-header Обо мне
                        img(src="assets/img/about_header.svg")
                .about-info
                    .about-img
                        img(src="assets/img/foto.jpg")
                    h2.title Кто я
                    .about-text Я веб разработчик из Санкт-Петербурга. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты. Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
            .skills
                h2.title Чем я могу быть вам полезен
                .skills-text Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачина Backend. Но давайте по порядку.
                include common/_circles

        .map
            .contact-wrapper
                .contact-container
                    h2.title Контакты
                    ul.contacts
                        li.contacts-item
                            img(src="./assets/img/skype.svg")
                            | skype
                        li.contacts-item
                            img(src="./assets/img/envelope.svg")
                            | mail
                        li.contacts-item
                            img(src="./assets/img/phone.svg")
                            | phone
                        li.contacts-item
                            img(src="./assets/img/map_marker.svg")
                            | address

            #googleMap
        include common/_footer-works
