doctype html
html
  include common/_head
  body
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
    <![endif]-->

header.header
    ul.socials-icon-about-list
        li.socials-item
            a(src="/assets/img/vk.svg").social-link
    div.nav-hamburger
        img(src="/assets/img/hamburger.svg")