doctype html
html
    include common/_head
    body
        <!--[if lt IE 7]>
        <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
        <![endif]-->
div.wrapper
    header.header
        ul.socials-icon-about-list
            li.socials-item
                img(src="/assets/img/vk.svg").social-link
            li.socials-item
                img(src="/assets/img/vk.svg").social-link
            li.socials-item
                img(src="/assets/img/vk.svg").social-link
        div.nav-hamburger
            img(src="/assets/img/hamburger.svg")
    .container
        .container-first
            .av-box
                img(src="./assets/img/viking.png").avatar
            .foto-info
                h1.foto-name Юлия Мельник
                .container-foto-text Личный сайт веб разработчика
            .arrow-container
                img(src="/assets/img/arrow_down.svg")
            .box
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="traingle">
                <polygon points="0,0   0,86   500.8,86   500.8,75.5"></polygon>
                <polygon points="1000,0   1000,86   500,86   500,75.5"></polygon>
                </svg>
    .about-wrapper
        .about-container
            .about-title
                h1.about-title-header Обо мне
            .about-info
                .about-img
                    img(src="/assets/img/viking.png")
                h2.title Кто я
                .about-text Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты. Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
        .skills
            h2.title Чем я могу быть вам полезен
            .skills-text Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачина Backend. Но давайте по порядку.
            ul.skills-progress
                li.skills-item Frontend
                li.skills-item Backend
                li.skills-item WorkFlow
    .map
        <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:1075px;width:1800px;'><div id='gmap_canvas' style='height:1075px;width:1800px;'></div><div><small><a href="http://embedgooglemaps.com">									embedgooglemaps.com							</a></small></div><div><small><a href="http://buyproxies.io/">elite proxies</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:11,center:new google.maps.LatLng(59.9342802,30.335098600000038),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(59.9342802,30.335098600000038)});infowindow = new google.maps.InfoWindow({content:'<strong>Название</strong><br>санкт-петербург<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
        .contact-container
            h2.title Контакты
            ul.contacts
                li.contacts-item
                    img(src="/assets/img/skype.svg")
                    | skype
                li.contacts-item
                    img(src="/assets/img/envelope.svg")
                    |mail
                li.contacts-item
                    img(src="/assets/img/phone.svg")
                    | phone
                li.contacts-item
                    img(src="/assets/img/map_marker.svg")
                    |address
    include common/_footer-works