doctype html
html
    include common/_head
    body
        <!--[if lt IE 7]>
        <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
        <![endif]-->
.wrapper
    header.header
        ul.socials-icon-about-list
            li.socials-item
                img(src="assets/img/vk.svg").social-link
            li.socials-item
                img(src="assets/img/in.svg").social-link
            li.socials-item
                img(src="assets/img/github.svg").social-link
        div.nav-hamburger
            img(src="assets/img/hamburger.svg")
    .container-main
        .container-first
            .container-av
                .av-box
                    img(src="./assets/img/foto.jpg").avatar
            .foto-info
                h1.foto-name-about Юлия Мельник
                .container-foto-text-about Личный сайт веб разработчика
            .arrow-container
                img(src="./assets/img/arrow_down.svg")
            .box
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="traingle">
                <polygon points="0,0   0,86   500.8,86   500.8,75.5"></polygon>
                <polygon points="1000,0   1000,86   500,86   500,75.5"></polygon>
                </svg>
    .about-wrapper
        .about-container
            .about-title
                h1.title-header Обо мне
                    img(src="assets/img/about_header.svg")
            .about-info
                .about-img
                    img(src="assets/img/foto.jpg")
                h2.title Кто я
                .about-text Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты. Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
        .skills
            h2.title Чем я могу быть вам полезен
            .skills-text Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачина Backend. Но давайте по порядку.
            ul.skills-progress
                li.skills-item Frontend
                    ul
                        li
                            .cont HTML
                                <svg id="svg" width="100" height="100" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <circle r="40" cx="50" cy="50" fill="transparent" stroke-dasharray="300.48" stroke-dashoffset="0"></circle>
                                <circle id="bar" r="40" cx="50" cy="50" fill="transparent" stroke-dasharray="105.48" stroke-dashoffset="0"></circle>
                                </svg>
                        li
                            .cont CSS
                                <svg id="svg" width="100" height="100" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <circle r="40" cx="50" cy="50" fill="transparent" stroke-dasharray="300.48" stroke-dashoffset="0"></circle>
                                <circle id="bar" r="40" cx="50" cy="50" fill="transparent" stroke-dasharray="105.48" stroke-dashoffset="0"></circle>
                                </svg>
                        li
                            .cont(data-pct="100")
                                <svg id="svg" width="100" height="100" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <circle r="40" cx="50" cy="50" fill="transparent" stroke-dasharray="300.48" stroke-dashoffset="0"></circle>
                                <circle id="bar" r="40" cx="50" cy="50" fill="transparent" stroke-dasharray="105.48" stroke-dashoffset="0"></circle>
                                </svg>
                li.skills-item Backend
                    ul
                        li
                            .cont HTML
                                <svg id="svg" width="100" height="100" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <circle r="40" cx="50" cy="50" fill="transparent" stroke-dasharray="300.48" stroke-dashoffset="0"></circle>
                                <circle id="bar" r="40" cx="50" cy="50" fill="transparent" stroke-dasharray="105.48" stroke-dashoffset="0"></circle>
                                </svg>
                        li
                            .cont CSS
                                <svg id="svg" width="100" height="100" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <circle r="40" cx="50" cy="50" fill="transparent" stroke-dasharray="300.48" stroke-dashoffset="0"></circle>
                                <circle id="bar" r="40" cx="50" cy="50" fill="transparent" stroke-dasharray="105.48" stroke-dashoffset="0"></circle>
                                </svg>
                        li
                            .cont(data-pct="100")
                                <svg id="svg" width="100" height="100" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <circle r="40" cx="50" cy="50" fill="transparent" stroke-dasharray="300.48" stroke-dashoffset="0"></circle>
                                <circle id="bar" r="40" cx="50" cy="50" fill="transparent" stroke-dasharray="105.48" stroke-dashoffset="0"></circle>
                                </svg>
                li.skills-item WorkFlow
                    ul
                        li
                            .cont HTML
                                <svg id="svg" width="100" height="100" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <circle r="40" cx="50" cy="50" fill="transparent" stroke-dasharray="300.48" stroke-dashoffset="0"></circle>
                                <circle id="bar" r="40" cx="50" cy="50" fill="transparent" stroke-dasharray="105.48" stroke-dashoffset="0"></circle>
                                </svg>
                        li
                            .cont CSS
                                <svg id="svg" width="100" height="100" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <circle r="40" cx="50" cy="50" fill="transparent" stroke-dasharray="300.48" stroke-dashoffset="0"></circle>
                                <circle id="bar" r="40" cx="50" cy="50" fill="transparent" stroke-dasharray="105.48" stroke-dashoffset="0"></circle>
                                </svg>
                        li
                            .cont(data-pct="100")
                                <svg id="svg" width="100" height="100" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <circle r="40" cx="50" cy="50" fill="transparent" stroke-dasharray="300.48" stroke-dashoffset="0"></circle>
                                <circle id="bar" r="40" cx="50" cy="50" fill="transparent" stroke-dasharray="105.48" stroke-dashoffset="0"></circle>
                                </svg>
    .map
        #googleMap
        .contact-wrapper
            .contact-container
                h2.title Контакты
                ul.contacts
                    li.contacts-item
                        img(src="./assets/img/skype.svg")
                        | skype
                    li.contacts-item
                        img(src="./assets/img/envelope.svg")
                        | mail
                    li.contacts-item
                        img(src="./assets/img/phone.svg")
                        | phone
                    li.contacts-item
                        img(src="./assets/img/map_marker.svg")
                        | address
    include common/_footer-works