doctype html
html
  include common/_head
  body
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
    <![endif]-->

  div.wrapper

    div.container-phone
      .btn-container
        a(href="").autorize-btn Авторизоваться
      div.container-phone-form
        div.av-box
          img(src="/assets/img/viking.png").avatar
        .foto-info
          div.container-foto-name Юлия Мельник
          div.container-foto-text Личный сайт веб разработчика
        ul.socials
          li.socials-item
            a(href="http://vk.com/",target="blank").socials-link-vk
            img(src="/assets/img/vk.svg")
          li.socials-item
            a(href="http://github.com/",target="blank").socials-link-git
            img(src="/assets/img/github.svg")
          li.socials-item
            a(href="http://vk.com/",target="blank").socials-link-in
            img(src="/assets/img/in.svg")
        div.menu
          ul.menu-list
            li.menu-item
              a(href="#").menu-item-link Мои работы
            li.menu-item
              a(href="#").menu-item-link Обо мне
            li.menu-item
              a(href="#").menu-item-link Блог

      include ./common/_footer.jade
