doctype html
html
  include common/_head
  body
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
    <![endif]-->
div.wrapper

    header.header
        ul.socials-icon-about-list
            li.socials-item
                img(src="/assets/img/vk.svg").social-link
            li.socials-item
                img(src="/assets/img/vk.svg").social-link
            li.socials-item
                img(src="/assets/img/vk.svg").social-link
        div.nav-hamburger
            img(src="/assets/img/hamburger.svg")
    div.first-container
        div.av-box
            img(src="/assets/img/viking.png").avatar
        div.container-foto-name Юлия Мельник
        div.container-foto-text Личный сайт веб разработчика
    div.box
        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="traingle">
        <polygon points="0,0   0,86   500.8,86   500.8,75.5"></polygon>
        <polygon points="1000,0   1000,86   500,86   500,75.5"></polygon>
        </svg>
    div.works-container
        div.works-title
            h1.works-title-header Мои работы
            img(src="/assets/img/about_header.svg")
