doctype html
html
    include common/_head
    body
        <!--[if lt IE 7]>
        <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
        <![endif]-->
.wrapper
    ul
        li
            a(href="works.html") | works
        li
            a(href="about.html") | about
        li
            a(href="login.html") | autorize
        li
            a(href="blog.html") | blog

section(class="layer1" data-speed="0")
section(class="layer2" data-speed=".2")
section(class="layer3" data-speed=".4")
section(class="layer4" data-speed=".6")
section(class="layer5" data-speed="3")
section(class="layer6" data-speed="3")


ul#scene
    li(class="layer" data-depth="0.00")
        img(src="/assets/img/parallax/1.png")
    li(class="layer" data-depth="0.20")
        img(src="/assets/img/parallax/2.png")
    li(class="layer" data-depth="0.40")
        img(src="/assets/img/parallax/3.png")
    li(class="layer" data-depth="0.60")
        img(src="/assets/img/parallax/4.png")
    li(class="layer" data-depth="0.80")
        img(src="/assets/img/parallax/5.png")
    li(class="layer" data-depth="1.00")
        img(src="/assets/img/parallax/6.png")

ul
    li
        a(href="works.html") | works
    li
        a(href="about.html") | about
    li
        a(href="login.html") | login
    li
        a(href="blog.html") | blog
include common/slider-slideshow


    .container-main
        .hero-user
            .container-av
                div.av-box
                    img(src="/assets/img/foto.jpg").avatar
                h1.foto-name-about Юлия Мельник
            .container-foto-text-about Личный сайт веб разработчика
            .arrow-container
                img(src="/assets/img/arrow_down.svg")
            .box-works
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="traingle">
                <polygon points="0,0   0,86   500.8,86   500.8,75.5"></polygon>
                <polygon points="1000,0   1000,86   500,86   500,75.5"></polygon>
                </svg>