doctype html
html
    include common/_head
    body
        <!--[if lt IE 7]>
        <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
        <![endif]-->
.wrapper
    ul
        li
            a(href="http://www.juliameln.ru/works.html") | works
        li
            a(href="http://juliameln.ru/about.html") | about
        li
            a(href="juliameln.ru/autorize.html") | autorize
        li
            a(href="juliameln.ru/blog.html") | blog
