extends common/_head
block title
    title Мои работы

block wrapper
    .wrapper
        include common/_fullscreenmenu

        include common/_header

        #next
        .works-title
            h1.title-header Мои работы
                img(src="/assets/img/works_header.svg")

        .slider
            include common/slider

        .quote-title
            h1.title-header Что обо мне говорят
                img(src="/assets/img/about_header.svg")
        include common/_blur


        include common/_footer-works