html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
}

@import 'common/greating';
@import 'common/phone';
@import 'common/about';
@import 'common/works';
@import 'common/additional'

