.admin-content-container
    .admin-content-header #{tabs.tab3.name}
    .admin-works__head Добавить работу
    input.input-works-item(type="text" placeholder="Название проекта")
    textarea.input-works-tech(name="works-tech", cols="1", rows="10", placeholder="Технологии")
    input(type="button" value="Загрузить картинку").img-btn
    input(type="button" value="Добавить").admin-btn