ul.skills-progress
    li.skills-item Frontend
    .radial-progress(data-progress="0")
        .circle
            svg(width="140" height="140").skill
                circle(cy="70" r="50" cx="70" stroke="#ccc" fill="none")
                circle(cx='70' r="50" cy="70" stroke="#10c1a8" fill="none").html

            span.circle-text HTML
        .circle
            svg(width="140" height="140").skill
                circle(cy="70" r="50" cx="70" stroke="#ccc" fill="none")
                circle(cx="70" r="50" cy="70" stroke="#10c1a8" fill="none").css
            span.circle-text CSS
        .circle
            svg(width="140" height="140").skill
                circle(cy="70" r="50" cx="70" stroke="#ccc" fill="none")
                circle(cx="70" r="50" cy="70" stroke="#10c1a8" fill="none").java
            span.circle-text Javascript &JQuery
    li.skills-item Backend
    .radial-progress(data-progress="0")
        .circle
            svg(width="140" height="140").skill
                circle(cy="70" r="50" cx="70" stroke="#ccc" fill="none")
                circle(cx="70" r="50" cy="70" stroke="#10c1a8" fill="none").php
            span.circle-text PHP
        .circle
            svg(width="140" height="140").skill
                circle(cy="70" r="50" cx="70" stroke="#ccc" fill="none")
                circle(cx="70" r="50" cy="70" stroke="#10c1a8" fill="none").mysql
            span.circle-text MySQL
        .circle
            svg(width="140" height="140").skill
                circle(cy="70" r="50" cx="70" stroke="#ccc" fill="none")
                circle(cx="70" r="50" cy="70" stroke="#10c1a8" fill="none").node
            span.circle-text Node.js &npm
        .circle
            svg(width="140" height="140").skill
                circle(cy="70" r="50" cx="70" stroke="#ccc" fill="none")
                circle(cx="70" r="50" cy="70" stroke="#10c1a8" fill="none").mongo
            span.circle-text Mongo.db


    li.skills-item WorkFlow
    .radial-progress(data-progress="0")
        .circle
            svg(width="140" height="140").skill
                circle(cy="70" r="50" cx="70" stroke="#ccc" fill="none")
                circle(cx="70" r="50" cy="70" stroke="#10c1a8" fill="none").git
            span.circle-text Git
        .circle
            svg(width="140" height="140").skill
                circle(cy="70" r="50" cx="70" stroke="#ccc" fill="none")
                circle(cx="70" r="50" cy="70" stroke="#10c1a8" fill="none").gulp
            span.circle-text Gulp
        .circle
            svg(width="140" height="140").skill
                circle(cy="70" r="50" cx="70" stroke="#ccc" fill="none")
                circle(cx="70" r="50" cy="70" stroke="#10c1a8" fill="none").bower
            span.circle-text Bower