ul.skills-progress
    li.skills-item Frontend
    .radial-progress(data-progress="0")
        .circle
            svg(width="140" height="140").skill
                circle(cy="70" r="50" cx="70" stroke="#ccc" fill="none")
                circle(cx="70" r="50" cy="70" transform="rotate(-90deg)").progress.html
            span.circle-text HTML
        .circle
            svg(width="140" height="140").skill
                circle(cy="70" r="50" cx="70" stroke="#ccc" fill="none")
                circle(cx="70" r="50" cy="70" transform="rotate(-90deg)").progress.css
            span.circle-text CSS
        .circle
            svg(width="140" height="140").skill
                circle(cy="70" r="50" cx="70" stroke="#ccc" fill="none")
                circle(cx="70" r="50" cy="70" transform="rotate(-90deg)").progress.java
            span.circle-text Javascript &JQuery
    li.skills-item Backend
    .radial-progress(data-progress="0")
        .circle
            svg(width="140" height="140").skill
                circle(cy="70" r="50" cx="70" stroke="#ccc" fill="none")
                circle(cx="70" r="50" cy="70" transform="rotate(-90deg)").progress.php
            span.circle-text PHP
        .circle
            svg(width="140" height="140").skill
                circle(cy="70" r="50" cx="70" stroke="#ccc" fill="none")
                circle(cx="70" r="50" cy="70" transform="rotate(-90deg)").progress.mysql
            span.circle-text MySQL
        .circle
            svg(width="140" height="140").skill
                circle(cy="70" r="50" cx="70" stroke="#ccc" fill="none")
                circle(cx="70" r="50" cy="70" transform="rotate(-90deg)").progress.node
            span.circle-text Node.js &npm
        .circle
            svg(width="140" height="140").skill
                circle(cy="70" r="50" cx="70" stroke="#ccc" fill="none")
                circle(cx="70" r="50" cy="70" transform="rotate(-90deg)").progress.mongo
            span.circle-text Mongo.db


    li.skills-item WorkFlow
    .radial-progress(data-progress="0")
        .circle
            svg(width="140" height="140").skill
                circle(cy="70" r="50" cx="70" stroke="#ccc" fill="none")
                circle(cx="70" r="50" cy="70" transform="rotate(-90deg)").progress.git
            span.circle-text Git
        .circle
            svg(width="140" height="140").skill
                circle(cy="70" r="50" cx="70" stroke="#ccc" fill="none")
                circle(cx="70" r="50" cy="70" transform="rotate(-90deg)").progress.gulp
            span.circle-text Gulp
        .circle
            svg(width="140" height="140").skill
                circle(cy="70" r="50" cx="70" stroke="#ccc" fill="none")
                circle(cx="70" r="50" cy="70" transform="rotate(-90deg)").progress.bower
            span.circle-text Bower