
footer.footer-main
	.line1
		ul.footer-nav
			li.footer-nav-item
				a(href="./works.html") Мои работы
			li.footer-nav-item
				a(href="./blog.html") Блог
			li.footer-nav-item
				a(href="./about.html") Обо мне
			li.footer-nav-item
				a(href="./login.html") Авторизация
		ul.footer-socials
			li.footer-socials-item
				a(href="vk.com")
					img(src="./assets/img/vk.svg")
			li.footer-socials-item
				a(href="linkedin.com")
					img(src="./assets/img/in.svg")
			li.footer-socials-item
				a(href="github.com")
					img(src="./assets/img/github.svg")

	.line2
		.footer-text
			| Я веб-разработчик из Сантк-Петербурга, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
		.footer-copy
			| © Юлия Мельник создано с любовью в LoftSchool | 2016
script(src='./assets/js/parallax.min.js')
script(src='./assets/js/app.js')