form(name="input", action="html_form_action.asp", method="get")
  label.field-img
    input(type="text", name="user", value="Логин",class="area",required)
  label.field-img
    input(type="text", name="pswd", value="Пароль",class="area",required)
  div.checkbox
    input(type="checkbox", name="human", id="human")
    label я человек

  div.question Вы точно не робот?
  ul.robot
    li.robot-item
      input(type="radio", value="да")
      label Да
    li.robot-item
      input(type="radio", value="не уверен")
      label Не уверен


