.fullscreen-menu

    ul.fullscreen-menu-list
        li.fullscreen-menu-item
           h1.title-header
               a(href="./works.html") Мои работы
        li.fullscreen-menu-item
            h1.title-header
               a(href="./about.html") Обо мне
        li.fullscreen-menu-item
            h1.title-header
                a(href="./blog.html") Блог
        li.fullscreen-menu-item
            h1.title-header
                a(href="./login.html") Авторизация
