head
  meta(charset='utf-8')
  title Loftschool builder
  meta(content='' name='author')
  meta(content='' name='description')
  meta(content='' name='keywords')
  meta(content='width=device-width, initial-scale=1' name='viewport')
  meta(content='ie=edge' http-equiv='x-ua-compatible')
  link(rel='stylesheet' href='./assets/css/foundation.css')
  link(rel='stylesheet' href='./assets/css/app.css')
  link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
  link(rel="icon" href="./assets/img/favicon.ico" type="image/x-icon")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
  script(src='./assets/js/foundation.js' defer)
  script(src='./assets/js/app.js' defer)
  script(src='https://maps.googleapis.com/maps/api/js?v=3.exp')
  script(src="http://maps.googleapis.com/maps/api/js")
