.circle-progress
    <svg data-percent="93" height="100%" width="100%" class="circle-progress__svg">
    <circle cx="50%" cy="50%" r="50%" class="circle-progress__circle circle-progress__circle_path"></circle>
    <circle cx="50%" cy="50%" r="50%" class="circle-progress__circle circle-progress__circle_fill"></circle>
    </svg>