@import 'additional';
@import "_misc/mixins";

/*КНОПКА АВТОРИЗАЦИИ*/

.btn-container{
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 20px;
  right:20px;
  @include desktop {
    top: 25px;
    right:100px;
  }
  @include laptop {
    top: 25px;
    right:100px;


  }
  @include tablet {
    top: 25px;
    right:20px;

  }
  @include phones {
    top: 25px;

  }
  @include clearfix;
}

.autorize-btn {
  text-decoration: none;
  padding: 8px 16px;
  border: 2px solid #fff;
  @include border-radius(5px);
  color: #fff;
  font-size: 16px;
  &:hover {
    color: #00bfa5;
    cursor: pointer;
    background: #fff;
  }
}

/*ФОНОВАЯ КАРТИНКА*/

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  @include desktop {
    background: url('../../assets/img/bckg-1800.jpg') no-repeat top;
    background-size: cover;
  }
  @include laptop {
    background: url('../../assets/img/bckg-1200.jpg') no-repeat top;
    min-height: 789px;
    background-size: cover;
    height: 100vh;

  }
  @include tablet {
    background: url('../../assets/img/bckg-tablet.jpg') no-repeat top;
    min-height: 1024px;
    background-size: cover;
  }
  @include phones {
    background: url('../../assets/img/bckg-iphone.jpg') no-repeat top;
    min-height: 568px;
    background-size: cover;
  }

  @include clearfix
}

.container-main {

  @include desktop {
    background: url('../../assets/img/bckg-1800.jpg') no-repeat top;
    min-height: 600px;
  }
  @include laptop {
    background: url('../../assets/img/bckg-1200.jpg') no-repeat top;
    min-height: 600px;
  }
  @include tablet {
    background: url('../../assets/img/bckg-tablet.jpg') no-repeat top;
    min-height: 500px;
  }
  @include phones {
    background: url('../../assets/img/bckg-iphone.jpg') no-repeat top;
    min-height: 558px;
  }
  &::before{
    content: " ";
    display: inline-block;
    height:100%;
  }
  @include clearfix
}
.hero{
  height:100vh;
  min-height:650px;
  position: relative;
  overflow: hidden;
  @include desktop {
    background: url('../../assets/img/bckg-1800.jpg') no-repeat top;
    min-height: 600px;
  }
  @include laptop {
    background: url('../../assets/img/bckg-1200.jpg') no-repeat top;
    min-height: 600px;
  }
  @include tablet {
    background: url('../../assets/img/bckg-tablet.jpg') no-repeat top;
    min-height: 500px;
  }
  @include phones {
    background: url('../../assets/img/bckg-iphone.jpg') no-repeat top;
    min-height: 558px;
  }
  &::before{
    content: " ";
    display: inline-block;
    height:100%;
  }
  @include clearfix
}
.hero-bg{
  position: absolute;
  top:0;
  right:0;
  left:0;
  height: 900px;


  img{
    display: block;
    max-width: 100%;
    width:100%;
    height:100%;
    max-height:100%;
    @include laptop {
      display: none;
    }
    @include tablet {
      display: none;
    }
    @include phones {
      display: none;
    }
  }
}
.hero-section,.hero-user{
  position: absolute;
  top:30%;
  left:0;
  right:0;
  transform:translateY(-50%);
  text-align: center;
  img{
    display: inline-block;
    max-width: 100%;
  }
}

.hero-section{
  opacity:.1;

}

.container-white{
  width: 380px;
  height: 400px;
  display: block;
  margin: 0 auto;
  position: relative;
}


.container-white-main, .container-white-enter {
  background-color: rgba(255, 255, 255, .8);
  @include border-radius(10px);
  color: #455a64;
  overflow: hidden;
  position: absolute;
  top:0;
  left: 0;

  perspective: 600px;
  @include desktop {
    width: 380px;
    height: 400px;
  }
  @include laptop {
    width: 380px;
  }
  @include tablet {
    width: 348px;
  }
}
.container-white-enter{
  transform: rotateY( 180deg );
  backface-visibility: hidden;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  &.flip{
    transform: rotateY(0deg );

  }
}
.container-white-main{
  transition: transform 0.5s;
  transform-style: preserve-3d;
  &.flip{
    transform: rotateY( 180deg );
    backface-visibility: hidden;
  }
}

.input-field{
  display: block;
  height:45px;
  margin: 0 auto;
  padding: 10px 20px;
}
.login{
  float: left;
  display: inline-block;
  width: 45px;
  height: 45px;
  background: url("../../assets/img/login.svg") no-repeat;
  background-position: 50% 50%;
  background-color: #f0efe9;
  border-bottom-left-radius:5px;
  border-top-left-radius:5px;
}
.area {
  height: 45px;
  border:0;
  margin: 0;
  display: block;
  width: 80%;
  margin-bottom: 20px;
  padding: 0 20px;
  opacity: .85;
  color: #5f5a55;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
}
.login-form {
  height: 45px;
  display: inline-block;
  padding: 0;
  width:80%;
  opacity: .85;
  color: #5f5a55;
  border: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  outline: none;
  background-color: #fff;
  padding-left: 5px;
}
.pswd{
  @extend .login;
  background: url("../../assets/img/password.svg") no-repeat;
  background-position: 50% 50%;
  background-color: #f0efe9;
}
.checkbox{
  width:30%;
  margin: 0 auto;
  padding: 10px 0;
  font-family: 'robotomedium';
}
.question{
  text-align: center;
  padding-bottom: 10px;
  font-family: 'robotobold';
  font-size:rem(16px);
}
.robot{
  list-style:none;
  width: 234px;
  margin: 0 auto;
  padding:0;
}
.robot-item{
  display: inline-block;
  padding-left: 40px;
}
/*блок ЛОГИН и обратная визитка*/
.foto-wrapper{
  padding-top: 40px;
}
.container-name{
	font-family: 'bernier_regularregular';
	font-size: 30px;
	text-align: center;
	color:#455a64;
	padding: 40px 0; 
}

.menu-atorization-list{
	list-style: none;
	margin: 0;
	padding: 0;
    color: #fff;
    text-align: center;
    bottom:0;
    position: absolute;
    box-sizing: border-box;
    font-size: 0;
    width: 100%;
    li{
      font-size: 16px;
    }
}

.menu-autorization-item-main{
  float: left;
    width:189px;
	display: inline-block;	
	height: 45px;
    line-height: 45px;
	border-right: 1px solid #73c8c0;
	@include border-bottom-left-radius(10px);
	background: rgba(0,191,165,.8);
    a{
      color: #fff;
      text-decoration: none;
    }

}
.menu-autorization-item-enter{
  float: right;
	display: inline-block;
    line-height:45px;
	height: 45px;
	width: 189px;
	border-left: 1px solid #73c8c0;
	@include border-bottom-right-radius(10px);
	background: rgba(0,150,136,.8);
  a{
    color: #fff;
    text-decoration: none;
  }
}


/*соц сети*/

.socials {
  height: 25px;
  font-size: 0px;
  padding: 40px 0;
  width: 145px;
  margin: 0 auto;
}

.socials-item {
  list-style: none;
  display: inline-block;
  padding-right: 25px;
  float: left;
  opacity:.8;
  &:hover{
    opacity: 1;
  }
  img{
      height: 25px;
      width: 25px;
    }
}

.socials-item:last-child{
  padding-right: 0;
}


/*МЕНЮ*/

.menu {
  font-size: 0;
}

.menu-list{
  margin:0;
  padding:0;
  list-style: none;
  width: 100%;
  position: absolute;
  bottom:0;
  display: block;
  font-size:0;
}
.menu-item {
  height: 45px;
  display: inline-block;
  border-right: 2px solid #73c8c0;
  font-size: 16px;
  font-family: 'robotomedium';
  background: rgba(0, 150, 136, 0.85);
  text-align: center;
  width: calc(100% / 3);
  box-sizing: border-box;
  line-height: 45px;
}

.menu-item:last-child {
  border-right: none;
}

.menu-item:hover{
  background-color: #009688;
}

.menu-item-link {
  color: #fff;
  text-decoration: none; }



/*форма*/


.field-img{
  position: relative;
  display: block;
  padding-bottom: 10px;
    input{
      height:48px;

  }
}
.field-img:after{
  content: '';
  position: absolute;
  display: block;
  width: 48px;
  height:48px;
  background: #333;
  top:0;
  left: 0;
  padding-bottom: 10px;
}
.field-img:before{
  content: "";
  position: absolute;
  display: block;
  width:48px;
  height: 48px;
  top:0;
  left:0;
  background: springgreen;
  padding-bottom: 10px;
}

.foto-info{
  color: #4d5963;
}


.phone-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 45px;
  text-align: center;
  width: 100%;
}
.footer-text-autorize{
  color: #fff;
  width: 248px;
  margin: 0 auto;
}

input[type="checkbox"] {
  display:none;
}
input[type="checkbox"] + label {
  display:inline-block;
  width:20px;
  height:20px;
  vertical-align:middle;
  cursor:pointer;
  text-indent: 40px;
  background: #00bfa5;
}
input[type="checkbox:checked"] {

  background: url(/assets/img/check.png) left top no-repeat;
}

@import 'common/media'