
.av-box {
  width: 150px;
  height: 150px;
  border-radius: 50% 50%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  top:40px;
}

.avatar {
  width: 100%; }

.container-foto-name{
  font-size: 21px;
}