
.av-box {
  width: 150px;
  height: 150px;
  border-radius: 50% 50%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  padding-top:40px;
}

.avatar {
  width: 100%; }

.container-foto-name{
  font-size: 21px;
  padding-top: 30px;
  text-align: center;
}
.container-foto-text{
  padding-top: 18px;
  text-align: center;
}