.container-av{
  padding-top: 40px;
}
.av-box {
  width: 140px;
  height: 140px;
  border-radius: 50% 50%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;

}

.avatar {
  width: 100%; }
.foto-info{
  height:45px;
  padding-top: 20px;

}
.container-foto-name{
  font-size: 21px;
  text-align: center;
}
.container-foto-text{
  padding-top: 18px;
  text-align: center;
}