.footer-main{
  background: rgba(#373e42,.85);
  height:147px;
  margin-top:-147px;
  @include clearfix
}

.line1{
  height:73px;
  width:100%;
  border-bottom: 1px solid #fff;

}
.footer-nav{
  float: left;
  color: #fff;
}
.footer-nav-item, .footer-socials-item{
  list-style:none;
  display: inline-block;
}
.footer-nav-item{
  padding-right: 40px;
}
.footer-socials-item{
  padding-right: 10px;
}
.footer-socials{
  float: right;
}

.line2{
  height:73px;
  border-bottom: 1px solid #fff;
  font-family:'robotolight';
  color: #fff;
  opacity: .5;
  @include clearfix;
  padding: 20px 10px;
}
.footer-text{
  float: left;
  display: block;
  width:30%;
}
.footer-copy{
  float: right;
  display: block;
  width:30%;
  text-align: right;
}



