.footer-main{
  background: rgba(#373e42,.85);

  @include clearfix
}

.line1{
  width:100%;
  border-bottom: 1px solid #fff;
  @include clearfix

}
.footer-nav{
  float: left;
  color: #fff;
  @include phones{
    display: block;
    width:100%;
    float: none;
  }
}
.footer-nav-item, .footer-socials-item{
  list-style:none;
  display: inline-block;
}
.footer-nav-item{
  padding-right: 40px;
  @include phones{
    padding-right: 8px;
  }
  a{
    text-decoration: none;
    color: #fff;
    font-family:'robotolight';
    font-size: rem(16px);
  }

}
.footer-socials-item{
  padding-right: 20px;
}
.footer-socials{
  float: right;

  @include phones{
    display: block;
    width:100%;
    float: none;
  }
}

.line2{
  border-bottom: 1px solid #fff;
  font-family:'robotolight';
  font-size: rem(16px);
  color: #fff;
  opacity: .5;
  @include clearfix;
  padding: 15px 10px;
}
.footer-text{
  float: left;
  display: block;
  width:40%;
}
.footer-copy{
  float: right;
  display: block;
  width:40%;
  text-align: right;
}



