/*form{
  margin:0 auto;
  max-width:95%;
  padding:0 20px;
}

.form-field {
  input {
    height: 48px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding-left: 20px;
    border-left-width: 48px;
    border-top: none;
    border-bottom: none;
    border-right: none;
    width: 192px;
    border-color: #f0efe9;
  }
  img {
    position: relative;
    left: 18px;
    top: 34px;
  }
}

.checkbox{
  height: 40px;
  text-align: center;
  padding-top: 20px;
}
.question{
  text-align: center;
  padding-bottom: 10px;
}
.robot{
  text-align: center;
  padding-right: 10px;

  .robot-item {
    display: inline-block;
    width: 100px;
    height: 20px;
  }
}*/