@import "_misc/mixins";
@import "../../node_modules/normalize.css/normalize.css";
@import "../fonts/stylesheet";
@import "form";
@import "avatar";
html {
	position: relative;
	min-height: 100%;
}

.container-phone{
	width: 300px;
	height: 568px;
	background: url('/assets/img/bckgiphone.jpg') no-repeat center;
	margin: 0 auto;
	padding: 0 10px;
    position: relative;
}
.container-phone-form{
	width: 300px;
	height: 395px;
	background-color: rgba(255,255,255,.8);
	@include border-radius(10px);
    position: relative;
    color: #455a64;
  overflow: hidden;
  top: 60px;
}
.container-name{
	font-family: 'bernier_regularregular';
	font-size: 30px;
	text-align: center;
	color:#455a64;
	padding: 40px 0; 
}

.menu-atorization-list{
	list-style: none;
	margin: 0;
	padding: 0;
    color: #fff;
    text-align: center;

}
.menu-autorization-item-main{
	display: inline-block;	
	height: 45px;
	width: 146px;
	border-right: 1px solid #73c8c0;
	@include border-bottom-left-radius(10px);
	background: rgba(0,191,165,.8);

}
.menu-autorization-item-enter{
	display: inline-block;	
	height: 45px;
	width: 146px;
	border-left: 1px solid #73c8c0;
	@include border-bottom-right-radius(10px);
	background: rgba(0,150,136,.8);
}

.phone-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 45px;
  text-align: center;
  width: 100%;
}
.footer-text{
  color: #fff;
  width: 248px;
  margin: 0 auto;
}
.autorize{
  position: relative;
  margin: 0 auto;
  width: 145px;
  padding-top: 10px;
  padding-bottom: 35px;
}
.autorize-button {
  display: inline-block;
  text-decoration: none;
  padding: 10px 16px;
  outline: none;
  border: 2px solid #fff;
  @include border-radius(5px);
  color: #fff;
  top:10px;
  font-size: 16px;
  text-align: center;
}

.autorize-button:hover {
  color: #009688;
}
/*соц сети*/
.socials {
  padding-top: 35px;
  height: 25px;
  font-size: 0px;
  padding-top: 40px;
  width: 145px;
  margin: 0 auto;
}

.socials-item {
  list-style: none;
  display: inline-block;
  height: 25px;
  width: 25px;
  padding-right: 25px;
}
.socials-item:last-child{
  padding-right: 0;
}

.socials .socials-item:first-child {
  margin-left: 0; }


/*МЕНЮ*/

.menu {
  padding-left: 0;
  margin: 0;
  padding-top: 10px;
  font-size: 0;
}

.menu-list{
  margin:0;
  padding:0;
  list-style: none;
  width: 100%;

}
.menu-item {
  height: 45px;
  display: inline-block;
  border-right: 1px solid #73c8c0;
  font-size: 16px;
  font-family: 'robotomedium';
  background: rgba(0, 150, 136, 0.85);
  text-align: center;
  width: calc(100% / 3);
  box-sizing: border-box;

}

.menu-item:last-child {
  border-right: none;
}

.menu-item:hover{
  background-color: #009688;
}



.menu-item-link {
  color: #fff;
  text-decoration: none; }



/*форма*/

.field-img{
  position: relative;
  display: block;
  padding-bottom: 10px;
  input{
    height:48px;

  }
}
.field-img:after{
  content: '';
  position: absolute;
  display: block;
  width: 48px;
  height:48px;
  background: #333;
  top:0;
  left: 0;
  padding-bottom: 10px;
}
.field-img:before{
  content: "";
  position: absolute;
  display: block;
  width:48px;
  height: 48px;
  top:0;
  left:0;
  background: springgreen;
  padding-bottom: 10px;
}
