/*HEADER*/
.socials-icon-about-list{
  margin:0;
  padding:0;
  margin-top: 15px;
  margin-left: 10px;
  float: left;

}
.socials-item{
  height: 100%;
  font-size: 0;
  padding-right: 30px;
  img{
    width: 25px;
  }
}
.nav-hamburger{
  float: right;
  position: relative;
  padding-top: 10px;
  padding-right: 10px;
}

/*    уголки   */
.box{
  bottom: -5px;
  position: absolute;
  width: 100%;
  svg{
    fill:#efeee9;
  }
  @include clearfix;
}
.box-works{
  @extend .box;
  svg {
    fill: #faf8f0;
  }
}

/*    Мои работы   */
.works-title {
  text-align: center;
  background-color: #faf8f0;
}

.title-text{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}
.arrow-container{
  width: 100%;
  position: absolute;
  bottom: 50px;
  text-align: center
}
.works-container{
  background-color: #efeee9;
  @include clearfix;

  @include phones {
    display: block;
    width: 100%;
  }
}

.skills-list{
  border-top:1px solid #00bfa5;
  border-bottom:1px solid #00bfa5;
  padding: 10px 0;
  text-align: center;
  li{
    list-style:none;
    display: inline-block;
    color: #00bfa5;
  }
}
.btn {
  background: #00bfa5;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  padding: 10px;
  color: #fff;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  color: #fff;
  line-height:40px;
  text-align: center;
  font-size: rem(16px);
  img{
    padding-left: 10px;
  }

}
.portfolio-list{
  font-size: 0;
  background: #1a2c51;
  height:50%;
margin: 0;
padding: 0}
.arrow-down{
  display: inline-block;
  width: 50%;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}
.arrow-up{
  display: inline-block;
  width: 50%;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}
.quote{
  font-size:16px;
}
.quote-text{
  display: block;
}
.quote-av{
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 78px;
  height: 78px;
  float: left;
}
.author{
  float: left;
  display: inline-block;
  width:50%;
  padding: 20px;

}
.talk-author{
  display:inline-block;
  width: 60%;
  color: #00bfa5;
}
.talk-author:after{
  clear: both;
}
.form-gradient{
  width:300px;
  height:416px;
  margin: 0 auto;
  border-radius: 10px;
  @include clearfix;
}
.form-menu-item {
  list-style: none;
  display: inline-block;
  background: #278f8d;
  height: 45px;
}
h2.portfolio-title{
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width:100%;
}
.site{
  width: 50%;
  display: inline-block;
  float: left;
  height:750px;
  position: relative;
  background-color: #f0efe9;;
  @include phones {
    display: block;
    width: 100%;
    height:220px;
  }
  @include tablet{
    display: block;
    width: 100%;
    height:270px;
  }
}
.portfolio-wrapper{
  width: 50%;
  display: inline-block;
  float: right;
  height:750px;

  @include phones {
    display: block;
    width: 100%;
  }
  @include tablet{
    display: block;
    width: 100%;
  }
}
.portfolio {
  text-align: center;
  height: 50%;

  @include phones {
    display: block;
    width: 100%;
  }
  @include tablet{
    display: block;
    width: 100%;
  }
  img{
    max-height: 100%;
    max-width: 100%;
  }
}
.quote-wrapper{
  background: url("/assets/img/portfolio-bckg.png") no-repeat top;
  height: 1280px;
  @include clearfix;

}
.quote-container{
  width: rem(800px);
  margin: 0 auto;
  min-height: 100%;
  margin-bottom: -147px;
  @include clearfix;
  &:after{
    content: "";
    display: block;
    height: 147px;
  }
}
.quote-title{
  text-align: center;
}
.blockquote{
      display: inline-block;
      width:rem(380px);
      float: left;
      @include clearfix;
  padding-top: 50px;
  @include phones {
    display: block;
    width: 100%;
  }
}
.quote-text{
  line-height:1.5;
  padding-right: 10px;
  &:before{
    content: "\f10d";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #dee0e1;
    font-size: rem(36px);
    display: block;
  }
  @include phones {
    display: block;
    width:100%;
  }
}
/*
 .blur
    img(src="/assets/img/portfolio-bckg.png")


.blur {
   height: 600px;
   width: 50%;
   margin: -90px auto;
   z-index: -1;
   position: relative;
   filter: blur(10px);
   filter: url(#blur);
   filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='10');
   overflow: hidden;
 }

.blur:after {
  content: '';
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .2);
  position: absolute;
}

*/