/* FULLSCREEN */

.fullscreen-menu{
  background-color: rgba(#00bfa5,.87);
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
  z-index: 1;
  color: #fff;
  display: none;
}

.fullscreen-menu-list{
  padding:0;
  list-style: none;
  margin-top: 60px;

}
.fullscreen-menu-item{
  text-align: center;
  padding:20px 0;
  a{
    text-decoration: none;
    color: #fff;
  }

}


/*HEADER*/
.socials-icon-about-list{
  margin:0;
  padding:0;
  margin-top: 15px;
  margin-left: 10px;
  float: left;

}
.socials-item{
  height: 100%;
  font-size: 0;
  padding-right: 30px;
  img{
    width: 25px;
  }
}
.nav-hamburger{
  cursor: pointer;
  float: right;
  position: relative;
  padding-top: 10px;
  padding-right: 10px;
  z-index: 100;
  svg#Layer_1{
    fill:#454;
  }

}

/*    уголки   */
.box{
  bottom: -5px;
  position: absolute;
  width: 100%;
  svg{
    fill:#efeee9;
  }
  @include clearfix;
}
.box-works{
  @extend .box;
  svg {
    fill: #faf8f0;
  }
}

/*    Мои работы   */

.works-title {
  text-align: center;
  background-color: #faf8f0;
  padding: 40px 0;
}

.site,.slider{
  width: 50%;
  display: inline-block;
  float: left;
  height:750px;
  position: relative;
  background-color: #f0efe9;
  text-align: center;
  @include phones {
    display: block;
    width: 100%;
  }
  @include tablet{
    display: block;
    width: 100%;
  }
}
.site-desc{
  position: absolute;
  transform:translateY(-50%);
  top:50%;
  width:100%;
}
.site-desc-item{
  list-style:none;
}

.site-tech{
  border-top:1px solid #00bfa5;
  border-bottom:1px solid #00bfa5;
  color: #00bfa5;
  width:300px;
  margin: 0 auto;
  padding: 10px 0;
}


.arrow-container{
  width: 100%;
  position: absolute;
  bottom: 50px;
  text-align: center;
  z-index: 10;
}

.works-container{
  background-color: #efeee9;
  @include clearfix;

  @include tablet {
    display: block;
    width: 100%;

  }
  @include phones {
    display: block;
    width: 100%;
  }
}


.btn {
  background: #00bfa5;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  color: #fff;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  color: #fff;
  line-height:40px;
  text-align: center;
  font-size: rem(16px);
  margin-top: 40px;
  img{
    padding-left: 10px;
  }

}
.portfolio-list{
  font-size: 0;
  background: #1a2c51;
  height:50%;
margin: 0;
padding: 0}
.arrow-down{
  display: inline-block;
  width: 50%;
  height: 100%;

}
.arrow-up{
  display: inline-block;
  width: 50%;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}
.quote{
  font-size:16px;
}
.quote-text{
  display: block;
}
.quote-av{
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 78px;
  height: 78px;
  float: left;
}
.author{
  float: left;
  display: inline-block;
  width:50%;
  padding: 20px;
  color: #20b5a1;
  font-family: 'robotobold';

}
.talk-author{
  display:inline-block;
  width: 60%;
  color: #00bfa5;
}
.talk-author:after{
  clear: both;
}

.form-gradient{
  position: absolute;
  top:0;
  height:100%;
  width:100%;
}
.form-contact-works{
  padding-left:20px ;
}
.form-menu{
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 0;
  margin:0;
padding: 0;
}
.form-menu-item {
  list-style: none;
  display: inline-block;
  width:50%;

}

.btn-works{
  background: #00bfa5;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 45px;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 500;
}
.form-container {
  width:100%;
  height:100%;
  position: relative;
  
}
/*  СЛАЙДЕР  */

.portfolio-wrapper{
  width: 50%;
  display: inline-block;
  float: right;
  height:750px;
  @include phones {
    display: block;
    width: 100%;
  }
  @include tablet{
    display: block;
    width: 100%;
  }
}

.slider-up,.slider-down{
  width: 45%;
  height:200px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  ul{
    margin: 0;
    padding: 0;
  }

}

.slider-list{
  position: absolute;
  top: 0;
  left:0;
  bottom: 0;
  right: 0;
}
.slider-item{
  position: absolute;
  top:-100%;
  left:0;
  width:100%;
  height: 100%;
  &.active{
    top:0%;
  }
  img{
    max-width: 100%;
    max-height:100%;
  }
}
.slider-controls{
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio {
  text-align: center;
  height: 50%;

  @include phones {
    display: block;
    width: 100%;
  }
  @include tablet{
    display: block;
    width: 100%;
  }
  img{
    max-height: 100%;
    max-width: 100%;
  }
}
.quote-wrapper{
  background: url("/assets/img/portfolio-bckg.png") no-repeat top;
  height: 1280px;
  @include clearfix;
  min-height: 100%;
  margin-bottom: -147px;
  @include clearfix;
  &:after{
    content: "";
    display: block;
    height: 147px;
  }

}
.quote-container{
  top:0;
  position: absolute;
  padding-top: 50px;
  text-align: center;
  width:100%;
  @include clearfix;
  @include tablet{
    display: block;
    width: 100%;
    position: relative;
  }
  @include phones {
    display: block;
    width:100%;
    position: relative;
  }
}
.quote-title{
  text-align: center;
  padding-top: 20px;
}
.blockquote{
      display: inline-block;
      width:rem(380px);
      @include clearfix;
      padding-top: 50px;
  text-align: left;

  @include phones {
    display: block;
    width:100%;
  }
}
.quote-text{
  line-height:1.5;
  padding-right: 10px;
  &:before{
    content: "\f10d";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #dee0e1;
    font-size: rem(36px);
    display: block;
  }
  @include phones {
    display: block;
    width:100%;
  }
}


/////// BLUR FORM


.blur {
   height: 100vh;
   position: relative;
  overflow: hidden;
  min-height:1200px;
  @include clearfix;
  @include tablet{
  background-image: url('/assets/img/portfolio-bckg.png');
  }
}

.blur-img{
  display: block;
  max-width:100%;
  width:100%;
}

.blur-background{
  position: absolute;
  top:0;
  left:0;
  right:0;
  @include desktop{
    min-width: 900px;
  }
  @include tablet{
    img{
      display: none;
    }
  }

}

.blur-form-wrapper{
  position: absolute;
  width: 300px;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
  @include clearfix;
  @include desktop {
    transform:translate(-50%,-50%);
    top: 50%;
    left:50%;
  }
  @include tablet{
    position: relative;
    margin: 0 auto;
  }
  @include phones {
    position: relative;
    margin: 0 auto;
  }
}

.blur-form{
  width:100%;
  height:100%;
  fiter:blur(20px);
  -webkit-filter: blur(20px);
  -ms-filter: blur(20px);
  -o-filter:blur(20px);
  background-image: url("/assets/img/portfolio-bckg.png");
  background-position: center center;
  background-repeat: no-repeat;
}
