
.socials-icon-about-list{
  margin:0;
  padding:0;
  margin-top: 15px;
  margin-left: 10px;
  float: left;

}
.socials-item{
  height: 100%;
  font-size: 0;
  padding-right: 30px;
  img{
    width: 25px;
  }
}

.nav-hamburger{
  float: right;
  position: relative;
  padding-top: 10px;
  padding-right: 10px;
}
/*

.first-container{
  background: url("/assets/img/bckgiphone.jpg") no-repeat;
  height: 558px;
  color: #fff;
  position: relative;
}*/

.box{
  bottom: -5px;
  position: absolute;
  width: 100%;
  svg{
    fill:#efeee9;
  }
  @include clearfix;
}

/*для заголовка с картинкой блок обертка - ширина и высота*/

.title-img{
  position: relative;
  background: url("/img/about_header.svg");
  background-size: 100% 100%;
  width: 200px;
  height:100px;
}

.title-text{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}



.arrow-container{
  width: 100%;
  position: absolute;
  bottom: 50px;
  text-align: center}

.works-container{
  background-color: #efeee9;
}
.works-title {
  position: relative;
  width: 200px;
  margin: 0 auto;
  height: 60px;
  img {

    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
  }
}
.works-title-header{
  font-family: 'bernier_distressedregular';
  font-size: 35px;
  color: #373e42;
  position: absolute;
  text-align: center;
  top:50%;
  transform: translateY(-50%);
}


.portfolio{
  text-align: center;
  padding: 50px 0;
  img{
    width: 245px;
  }
}

.skills-list{
  border-top:1px solid #00bfa5;
  border-bottom:1px solid #00bfa5;
  padding: 10px 0;
  text-align: center;
  li{
    list-style:none;
    display: inline-block;
    color: #00bfa5;

  }
}
.btn {
  background: #00bfa5;
  border-radius: 10px;
  width: 185px;
  height: 40px;
  padding: 10px;
  color: #fff;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  color: #fff;
  margin-bottom: 20px;
  line-height:40px;
  text-align: center;
  img{
    padding-left: 10px;
  }

}
.portfolio-list{
  height: 90px;
  font-size: 0;
  background: #1a2c51;
}
.works-title{
  width: 200px;
  height:100px;
}
.arrow-down{
  display: inline-block;
  width: 50%;
  height: 90px;
}
.arrow-up{
  display: inline-block;
  width: 50%;
  height: 90px;
}

.quote{
  font-size:16px;
}

.quote-av{
  display: inline-block;
  border-radius: 25px;
  overflow: hidden;
  background: #0000AA;
  width: 50px;
  height: 50px;

}
.talk-author{
  display:inline-block;
  width: 60%;
  color: #00bfa5;
}
.talk-author:after{
  clear: both;
}
.form-gradient{
  width:300px;
  height:416px;
  margin: 0 auto;
  background: url("/assets/img/fon.png") no-repeat;
  border-radius: 10px;
}

.form-menu-item {
  list-style: none;
  display: inline-block;
  background: #278f8d;
  height: 45px;
}
